The certificate for {domains} expires in {time_left} days.

The new certificate can be downloaded here (link lasts 96 hours):

{url}

If the link has expired, you can grab the certificate directly from the {s3bucket} S3 bucket.
