The certificate for {domains} expires soon.

The new certificate can be downloaded here (link lasts 96 hours):

{url}

If the link has expired, you can grab the certificate directly from the
bmj-ssl-certificates S3 bucket.
